<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/robot.png">
        <p>This website is made by Manoj More. And it uses Weather-stack and mapbox APIs <br> This is the first web app made by the author so bear with it!!😘</p>
        
    </div>
    
    {{>footer}}
</body>

</html>
