<footer>
    <p>Created by {{name}}</p>
    <a href="https://www.linkedin.com/in/manoj-more/">
         <img alt="linkedin" src="https://cdn2.iconfinder.com/data/icons/popular-social-media-flat/48/Popular_Social_Media-22-512.png"
         width=20" height="10">
      </a>
</footer>
