<footer>
    <p>Created by {{name}}</p>
    <a href="https://www.linkedin.com/in/manoj-more/">
         <img alt="linkedin" src="https://cdn2.iconfinder.com/data/icons/popular-social-media-flat/48/Popular_Social_Media-22-512.png"
         width=50" height="40">
      </a>
      <a href="https://www.instagram.com/_manojmore">
         <img alt="linkedin" src="https://www.clipartmax.com/png/middle/20-202056_instagram-instagram-business-card-icon.png"
         width=50" height="40">
      </a>
      <a href="https://github.com/dev-manojm">
         <img alt="linkedin" src="https://github.githubassets.com/images/modules/open_graph/github-mark.png"
         width=50" height="40">
      </a>
</footer>
